<div class="container">    
<div class="row valign-wrapper">
    <div class="col s6 offset-s3 valign">
        <div class="card ">
            <div class="card-content black-text">
                <span class="card-title">Login</span>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="Name" id="name" type="text" class="validate">
                                <label for="name"></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div>
                            <a class="waves-effect waves-light btn-small">Login</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
</div>