.disabled {
    pointer-events: none;
}

.header {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #080808;
  
}

.mydropbtn {
    background-color: rgba(53, 77, 68, 0.4);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.mydropdown {
    position: relative;
    display: inline-block;
}



.mydropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    min-height: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .mydropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .mydropdown-content a:hover {
            background-color: #f1f1f1
        }

.mydropdown:hover .mydropdown-content {
    display: block;
}

.mydropdown:hover .mydropbtn {
    background-color: #3e8e41;
}

.row {
    margin-top: 20px;
}

.collection-item:hover {
    background-color: #cecece;
}

.material-icons:hover {
    background-color: #aeaeae;
}

.pointer {
    cursor: pointer;
}



